h5 {
  background-color: #c0ecf7;
  background-color: #3c4c64;
  background-color: #55687e;
  background-color: #6b8498;
  background-color: #f89a44;
}

* {
  background-color: #3c4c64;
  color: #c0ecf7;
  font-family: Noto Sans Mono;
  box-sizing: border-box
}

p, li {
  font-size: 17px;
  margin: 0;
  background-color: inherit;
}

a {
  text-decoration: none;
}

ul {
  background-color: inherit;
}

h1 {
  margin: 0;
  background-color: inherit;
}

button {
  all: unset;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

.header-section {
  display: flex;
  align-items: center;
  background-color: #3c4c64;
  justify-content: space-between;
  border-radius: 10px;
  margin: 2px;
  margin-bottom: 1em;
  * {
    background-color: #3c4c64;
  }
}

.title-section {
  display: flex;
  align-items: center;
}

.title {
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.links-section {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 1em;
}

.main {
  display: flex;
  background-color: inherit;
}

.section {
  margin-bottom: 1.1em;
  border-color: #c0ecf7;
  border-radius: 10px;
  background-color: #55687e;
  border: none;
  padding: 10px;

}

.docs-button-section {
  width: 15%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c0ecf7;
  color: #3c4c64;
}

.docs-button-link {
  background-color: inherit;
  color: #3c4c64;
}

.docs-button {
  font-size: 2em;
  font-weight: bolder;
  background-color: inherit;
  width: 100%;
  color: #3c4c64;
}

.header-link {
  margin-left: 1em;
}
  
/* Left column (Documentation) */
.documentation-side {
  background-color: #55687e;
  width: 60%;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  * {
    margin-bottom: 25px;
    background-color: #55687e;
  }
}

/* Right column (Playground)*/
.interpreter-side {
  width: 40%;
  margin: 1em;
}

.run-button-section {
  display: flex;
  background-color: #c0ecf7;
  color: #3c4c64;
  font-weight: bolder;
  font-size: 30px;
  width: max-content;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 0.5em;
}

.run-button:hover {
  transform: scale(1.1);
}

/*.run-button {*/
/*  background-color: #6b8498;*/
/*  border-color: #c0ecf7;*/
/*  border-radius: 10px;*/
/*}*/

.interpreter {
  height: 40vh;
  width: 100%;
}

.terminal {
  background-color: #55687e;
  border-radius: 10px;
  padding: 10px;
  height: 30vh;
  width: 100%;
}

.terminal-section, .interpreter-section {
  width: 100%;
}

textarea {
  all: unset;
}

.ta-wrapper {
  background-color: #55687e;
  border-radius: 10px;
  height: 43.5vh;
  width: 100%;
  resize: none;
  padding: 1em;
}

.side {
  margin-bottom: 1em;
}

.h1-console {
  margin-bottom: 0.5em;
}

code {
  color: #f89a44;
}
