h5 {
  background-color: #c0ecf7;
  background-color: #3c4c64;
  background-color: #55687e;
  background-color: #6b8498;
  background-color: #f89a44;
}

* {
  background-color: #3c4c64;
  color: #c0ecf7;
  font-family: Noto Sans Mono;
}

p, li {
  font-size: 17px;
  margin: 0;
  background-color: inherit;
}

a {
  text-decoration: none;
}

ul {
  background-color: inherit;
}

h1 {
  margin: 0;
  background-color: inherit;
}

button {
  all: unset;
}

.header-section {
  display: flex;
  align-items: center;
  background-color: #3c4c64;
  justify-content: space-between;
  border-radius: 10px;
  margin: 2px;
  margin-bottom: 1em;
  * {
    background-color: #3c4c64;
  }
}

.title-section {
  display: flex;
  align-items: center;
}

.title {
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.links-section {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  width: 85vw;
  position: absolute;
  left: 7.5vw;
  background-color: inherit;
}

.section {
  margin-bottom: 1.1em;
  border-color: #c0ecf7;
  border-radius: 10px;
  background-color: #55687e;
  border: none;
  padding: 10px;

}

.docs-button-section {
  width: 15%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c0ecf7;
  color: #3c4c64;
}

.docs-button-link {
  background-color: inherit;
  color: #3c4c64;
}

.docs-button {
  font-size: 1.8em;
  font-weight: bolder;
  background-color: inherit;
  width: 100%;
  color: #3c4c64;
}

.docs-button:hover {
  transform: scale(1.1);
}

.header-link {
  margin-left: 1em;
}


